.search-card-container {
    min-height: 100vh;
    padding-top: 100px;
}

.search {
    label {
        text-align: center;
        margin-bottom: 10px;
    }

    input[type="text"]{
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 3px 5px;
        border: 3px solid black;
        background-color: rgba(255, 173, 51, 0.1);
        &:focus {
            border: 3px solid rgba(255, 173, 51, 1);
        }
    }
   
    @include flex (column, nowrap, center, left);
        
    .full-input {
        margin: 0 auto;
        width: 200px;
        .autocomplete{
            width: 100%;
            border: 3px solid rgba(255, 173, 51, 0.3);
            border-top: none; 
        }
        .autocomplete-items{
            width: 100%;
            background: rgba(255, 173, 51, 0.3);
            &:hover {
                background: rgba(255, 173, 51, 0.6)
            }
        }
        .highlighted {
            background: rgba(255, 173, 51, 0.6);
        }
    }
}