.dogApp {
    @include flex (column, wrap, center, center);
    h1 {
        font-size: 4rem;
        margin: 10px 0;
    }

    i {
        font-size: 2rem;
        &:hover {
            color: rgb(255, 173, 51);
            transition: 0.3s;
        }
    }
    .title{
        @include flex (column, nowrap, center, flex-start);
        min-height: 100vh;
        padding: 75px;
    }


    .search-button {
        cursor: pointer;
        animation-duration: 1.7s;
        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-timing-function: ease-in-out;
    }

    @keyframes bounce {
        0%   { transform: translateY(0); }
        30%  { transform: translateY(-10px); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(0); }
    }
    header {
        @include flex(row, nowrap, center, flex-end);
        width: 95vw;
        overflow: hidden;
    }
    svg {
        min-width: 40%;
        max-width: 50%;
        align-self: flex-end;
    }
}